
@{
    ViewBag.Title = "Index";
}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>الإدارة</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
<!-- Start Stuff -->
<div class="stuff-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Stuff</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/tdl.png")">
                    </div>
                    <div class="team-content">
                        <a href="#" class="title">استعراض الطلبات</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/add_meal.jpg")">
                    </div>
                    <div class="team-content">
                        <a href="#" class="title">إضافة وجبة</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/delete_meal.jpg")">
                    </div>
                    <div class="team-content">
                        <a href="#" class="title">حذف وجبة</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/stuff-img-03.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">عرض جديد</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/stuff-img-04.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">إلغاء عرض</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/stuff-img-05.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">Web Designer</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/stuff-img-06.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Steve Thomas</h3>
                        <span class="post">Web Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Stuff -->
