
@{
    ViewBag.Title = "الإدارة";
}

<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>الإدارة</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->
<!-- Start Stuff -->
<div class="stuff-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/tdl.png")">
                    </div>
                    <div class="team-content">
                        @Html.ActionLink("استعراض الطلبات", "requests", null, new { @class = "title" })
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/add_meal.jpg")">
                    </div>
                    <div class="team-content">
                        @Html.ActionLink("إضافة وجبة", "Create", null, new { @class = "title" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/delete_meal.jpg")">
                    </div>
                    <div class="team-content">
                        @Html.ActionLink("حذف وجبة", "delete", null, new { @class = "title" })
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/edit_meal.jpg")">
                    </div>
                    <div class="team-content">
                        @Html.ActionLink("تعديل وجبة", "edit_list", null, new { @class = "title" })
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/add_category.png")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">@Html.ActionLink("إضافة صنف", "Add", null, new { @class = "title" })</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/delete_category.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">@Html.ActionLink("حذف صنف", "Del_cat", null, new { @class = "title" })</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/add_offer.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">@Html.ActionLink(" عرض جديد", "create_offer_list", null, new { @class = "title" })</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="@Url.Content("~/images/delete_offer.jpg")">
                    </div>
                    <div class="team-content">
                        <h3 class="title">@Html.ActionLink("إلغاء عرض", "delete_offer", null, new { @class = "title" })</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Stuff -->
