@model FFR.Models.meal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>meal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categories.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categories.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
