@model FFR.Models.customer

@{
    ViewBag.Title = "تسجيل دخول - تسجيل حساب";
}

<!-- Start header -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>تسجيل دخول - تسجيل حساب</h1>
            </div>
        </div>
    </div>
</div>
<!-- End header -->
<div class="about-section-box text-right" dir="rtl">
    <div class="container">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @ViewBag.message
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }

        <div class="row inner-menu-box">
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">تسجيل دخول</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">تسجيل حساب</a>
                </div>
            </div>

            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <p class="control-label col-md-2">الاسم</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="control-label col-md-2">كلمة المرور</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input name="submit" type="submit" id="login" value="تسجيل الدخول" class="btn btn-outline-success" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <p class="control-label col-md-2">الاسم</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="control-label col-md-2">العنوان</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="control-label col-md-2">رقم الهاتف</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <p class="control-label col-md-2">كلمة المرور</p>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="تسجيل الحساب" name="submit" id="signup" class="btn btn-outline-success" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    @Html.ActionLink("العودة للصفحة الرئيسية", "Index")
                </div>
            </div>
        </div>
    </div>
</div>